<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Demo</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body ng-app="app">

    <div class="container"  ng-controller="home as home">
        <h1>Login</h1>
        <div class="container" ng-show="!home.authenticated">
            <div>
                With Facebook: <a href="/login/facebook">click here</a>
            </div>
            <div>
                With Github: <a href="/login/github">click here</a>
            </div>
            <div>
                With Strava: <a href="/login/strava">click here</a>
            </div>
        </div>
        <div class="container" ng-show="home.authenticated">
            Logged in as: <span ng-bind="home.user"></span>
            <div>
                <button ng-click="home.logout()" class="btn btn-primary">Logout</button>
            </div>
        </div>
    </div>

    <div class="container" ng-controller="simpleController as controller">
        <div class="page-header">
            <h1>Athletes and Total Distance</h1>
        </div>
        <div class="panel panel-default" ng-repeat="athlete in athleteArr">
            <div class="panel-body">
                <table class="table no-margin">
                    <tr>
                        <th>Name</th>
                        <td>{{ athlete.name}}</td>
                        <th>TotalDistance</th>
                        <td>{{ athlete.totalDistance}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="page-header">
            <h1>Activities</h1>
        </div>
        <div class="panel panel-default" ng-repeat="event in eventArr">
            <div class="panel-body">
                <table class="table no-margin">
                    <tr>
                        <th>Name</th>
                        <td>{{ event.athlete.name}}</td>
                        <th>Type</th>
                        <td>{{ event.type}}</td>
                        <th>Distance</th>
                        <td>{{ event.distance}}</td>
                        <th>Date</th>
                        <td>{{ event.date | date:"dd. MMM yyyy 'kl.' HH:mm":'+0000' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

	<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("app", []);

        app.config(function($httpProvider) {
            $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
        });

        app.controller("home", function($http, $location) {
            var self = this;

            $http.get("/user").success(function(data) {
                if (data.name) {
                    self.user = data.name;
                    self.authenticated = true;
                } else {
                    self.user = "N/A";
                    self.authenticated = false;
                }
            }).error(function() {
                self.user = "N/A";
                self.authenticated = false;
            });

            self.logout = function() {
                $http.post('logout', {}).success(function() {
                    self.authenticated = false;
                    $location.path("/");
                }).error(function(data) {
                    console.log("Logout failed")
                    self.authenticated = false;
                });
            };
        });

        app.controller('simpleController',
           ['$scope', '$http', function($scope, $http){
               $scope.showMessageBox = false;
               $scope.eventArr = [];
               $scope.athleteArr = [];

               var getAllEvents = function() {
                   $http.get("http://skimil-unsinuate-behest.cfapps.io/activities").then(function (result) {
                       result.data._embedded.activities.forEach(function(event){
                           $scope.eventArr.push(event);
                       });
                   });
               };

               var getAllAthletes = function() {
                   $http.get("http://skimil-unsinuate-behest.cfapps.io/athletes").then(function (result) {
                       result.data.forEach(function(athlete){
                           $scope.athleteArr.push(athlete);
                       });
                   });
               };

               getAllEvents();
               getAllAthletes();
           }]
        );
	</script>
</body>
</html>